@use '../custom' as *;

.call-to-action {
    height: 80vh;
    background-image: linear-gradient(to bottom right, $primary-dark, skyblue);
    
    h2, p {
        color: #fff;
    }

    button {
        background-color: #fff;
        color: $primary-dark;
    }

    div:first-child {
        margin: 50px 20px 0 20px;
    }

    .text-start {
        img {
            width: 400px;
            position: relative;
            bottom: -5vh;
            left: 0;
        }
    }
}

.groove-icons {
    height: 15vh;
    padding: 10px;
    margin-bottom: 12vh;
    
    background-color: rgb(228, 228, 228);

    img {
        width: 96px;
        height: auto;
        padding: 7px;
    }
}
