.cta {
    padding: 8rem 0px 3rem 5rem;
    margin: 0;
    color: #fff;
    background-color: #000;

    .btn {
        width: max-content;
        margin: 2.25rem 0;
    }

    img {
        width: 90vh;
        height: auto;
    }
}

.footer {
    height: max-content;
    padding-top: 3.25rem;
    background-color: black;
    color: beige;
    margin: 0;

    ul {
        padding-left: 0;

        li {
            list-style: none;            
        }
    } 

    .copyright {
        padding: 20px 18vh;     

        a {
            padding-right: 10px;
        }
    }

    a {
        color: #b7b7b7;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
    }

    .social-links {
        a {
            padding: 5px 10px;

            i {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .cta {
        padding: 20px 10px;

        & > div {
            display: flex;
            flex-direction: column !important;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .footer {
        & > div {
            display: flex;
            flex-direction: column !important;
        }

        .copyright {
            padding: 20px 10px;
        }
    }
}
