.hero {
    padding: 20vh 0 5.25rem 0;
    height: 110vh;

    h2, p, button {
        margin: 20px 0;  
        color: #e5e5e5; 
    }

    button {
        width: max-content;
    }

    &-2 {
        padding: 10vh;

        img:last-child {
            width: 250px;
            height: auto;
            position: relative;
            top: -80vh;
            left: 100vh;
        }
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        max-height: 100vh;
        padding: 10vh 0 5.25rem 0;

        &-2 {
            padding: 20px;

            img:last-child {
                width: 100px;
                height: auto;
                position: relative;
                top: -18vh;
                left: 28vh;
            }
        }
    }
}
