@use '../custom' as *;

// GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

// ABSOLUTE CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION PROPERTY
@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}

// BOTTOM BORDER
@mixin headingBottomBorder {
    padding: 1.25rem 0;
    border-bottom: 1px solid #dfdfdf;
}

@mixin shadow {
    box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
