@use '../custom' as *;

.templates-home-heading {
    padding: 2.75rem 10px 0px 2.75rem;

    h3, p, a {
        color: $primary-dark;
        text-decoration: none;
    }

    a {
        padding-right: 15vh;
    }
}

.templates {
    height: max-content;
    margin-bottom: 12vh;

    .template {
        padding: 20px;

        img {
            width: 50vh;
        }

    }

    span {
        display: block;
        text-align: center;
        padding-top: 5px;
        color: $primary-dark;
        font-size: 1.25rem;
    }
}

.templates-div {
    padding: 0px;

    input[type='text'] {
        width: 40vh;
        padding: 3px 10px;
        border: none;
        box-shadow: 1px 1px 10px 2px #dfdfdf;
        text-align: center;
        border-radius: 5px;
    }

    /*.templates-header {
        padding: 1.25rem 0;
        border-bottom: 1px solid #dfdfdf;
    }*/

    .dropdown {
        padding: 1.25rem;
        margin-right: 2rem;
    }
}

.pagination {

    padding-bottom: 10vh;
    ul {
        padding: 10px 20px 20px 0;
        margin: 0 auto;

        li {
            list-style: none;
            padding: 0 5px;

            a {
                text-decoration: none;
                color: #000;
            }

            a:hover {
                color: #bbb;
            }
        }
    }
}

.templates-help {
    min-height: 50vh;
    padding: 20vh;

    .btn {
        margin-top: 3.75rem;
    }
}