@use '../custom' as *;

.testimonies {
    min-height: 70vh;
    margin-bottom: 15vh;

    h3 {
        color: $primary-dark;
    }

    .testimony {
        // padding: 50px 5px;
        width: 60vh;
        box-sizing: border-box;
        box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
        border-radius: 32px;
        margin: 10vh 0;

        p {
            font-size: 1rem;
            color: gray;
            padding: 10px 20px;
            margin: 2vh 30px 10vh 30px;
        }

        img {
            width: 12vh;
            position: relative;
            top: -30px;
            left: -30px;
        }
    }
}