@use '../custom' as *;
@use './mixins' as *;

.testimonies {
    min-height: 70vh;
    margin-bottom: 15vh;

    h3 {
        color: $primary-dark;
    }

    .testimony {
        // padding: 50px 5px;
        width: 60vh;
        box-sizing: border-box;
        @include shadow;
        border-radius: 32px;
        margin: 10vh 0;

        i {
            display: block;
            font-size: 1.5rem;
            color: $primary-dark;
            padding-right: 5px;
        }

        p {
            font-size: 1rem;
            color: gray;
            padding: 0px 20px 10px;
            margin: 2vh 30px 13vh 30px;
            line-height: 1.5rem;
        }

        img {
            width: 12vh;
            position: relative;
            top: -30px;
            left: -30px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .testimonies {
        .testimony {
            width: 80%;
        }
    }
}
