@use 'mixins' as *;
@use '../custom' as *;

.page-header {
	height: 15vh;
	@include headingBottomBorder;

	h4 {
		padding-top: 0.5rem;
		color: $primary-dark;
	}

}

.page-bottom-help {
    height: 60vh;
    padding: 20vh 10vh;
    color: #fff;
    border-top-right-radius: 10%;

    .btn {
        margin-top: 3.75rem;
        background-color: $primary-dark;
    }
}