@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
* {
  box-sizing: border-box;
}

.btn-primary {
  background-color: #2B547E;
}

.navbar {
  background-color: transparent;
}
.navbar img {
  width: 64px;
  height: auto;
}
.navbar a {
  color: #E5E5E5;
}
.navbar a:hover {
  color: #cfcbcb;
}
.navbar button {
  background-color: #2C75C0;
}
.navbar button:hover {
  color: #E5E5E5;
}
.navbar-custom {
  background-color: #2B547E;
}

.navbar-hero {
  background-image: url("../images/hero_bg_image.png");
  height: 150vh;
  margin-bottom: 70vh;
}

.hero {
  padding: 20vh 0 5.25rem 0;
  height: 110vh;
}
.hero h2, .hero p, .hero button {
  margin: 20px 0;
  color: #e5e5e5;
}
.hero button {
  width: max-content;
}
.hero-2 {
  padding: 10vh;
}
.hero-2 img:last-child {
  width: 250px;
  height: auto;
  position: relative;
  top: -80vh;
  left: 100vh;
}

.products {
  background-image: url("../images/home_products_bg.png");
  height: 80vh;
}
.products h2, .products p {
  color: #fff;
}
.products-left-text {
  height: 50vh;
  padding: 10px 35vh 0px 10vh;
  border-right: 1px solid #fff;
}
.products .phone-image {
  width: 45vh;
  height: auto;
  padding: 8vh 0 0 50px;
}

.templates-home-heading {
  padding: 2.75rem 10px 0px 2.75rem;
}
.templates-home-heading h3, .templates-home-heading p, .templates-home-heading a {
  color: #2B547E;
  text-decoration: none;
}
.templates-home-heading a {
  padding-right: 15vh;
}

.templates {
  height: max-content;
}
.templates .template {
  padding: 20px;
}
.templates .template img {
  width: 50vh;
}
.templates span {
  display: block;
  text-align: center;
  padding-top: 5px;
  color: #2B547E;
  font-size: 1.25rem;
}

.templates-div {
  padding: 0px;
  /*.templates-header {
      padding: 1.25rem 0;
      border-bottom: 1px solid #dfdfdf;
  }*/
}
.templates-div input[type=text] {
  width: 40vh;
  padding: 3px 10px;
  border: none;
  box-shadow: 1px 1px 10px 2px #dfdfdf;
  text-align: center;
  border-radius: 5px;
}
.templates-div .dropdown {
  padding: 1.25rem;
  margin-right: 2rem;
}

.pagination {
  padding-bottom: 10vh;
}
.pagination ul {
  padding: 10px 20px 20px 0;
  margin: 0 auto;
}
.pagination ul li {
  list-style: none;
  padding: 0 5px;
}
.pagination ul li a {
  text-decoration: none;
  color: #000;
}
.pagination ul li a:hover {
  color: #bbb;
}

.templates-help {
  min-height: 50vh;
  padding: 20vh;
}
.templates-help .btn {
  margin-top: 3.75rem;
}

.call-to-action {
  min-height: 80vh;
  background-image: linear-gradient(to bottom right, #2B547E, skyblue);
}
.call-to-action h2, .call-to-action p {
  color: #fff;
}
.call-to-action div:first-child {
  margin: 50px 20px 0 20px;
}
.call-to-action .text-start img {
  width: 200px;
  position: relative;
  bottom: -22.5vh;
  left: 0;
}
.call-to-action .groove-icons {
  height: 20vh;
  padding: 10px;
  background-color: gray;
}
.call-to-action .groove-icons img {
  width: 24px;
  height: auto;
  padding: 7px;
}

.testimonies {
  min-height: 70vh;
}
.testimonies .testimony {
  padding: 50px 5px;
  width: 60vh;
}
.testimonies .testimony blockquote {
  border-sizing: content-box;
  box-shadow: -6px -6px 9px white, 6px 6px 9px rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
  padding: 30px;
  border-radius: 32px;
  background: #e9e9e9;
  /*text-shadow: -1px -1px 2px #fff, 2px 2px 2px rgba(0, 0, 0, 0.4);*/
}

.pricing-page-body {
  min-height: 90vh;
  margin: 10vh auto;
}
.pricing-page-body h4 {
  margin-bottom: 3.25rem;
}
.pricing-page-body .pricing-div {
  width: 50vh;
  height: 70vh;
  box-sizing: border-box;
  padding: 2.25rem;
  box-shadow: 5px 10px 20px #dfdfdf;
  border-radius: 10px;
  position: relative;
}
.pricing-page-body .pricing-div .btn {
  width: 80%;
  position: absolute;
  bottom: 20px;
  right: 10%;
}

.about-page {
  padding: 2.75rem auto;
}
.about-page .about-page-hero {
  padding: 2.75rem 0 1.25rem;
}
.about-page .about-page-hero > p {
  padding-top: 2.35rem;
}

.about-page-body .team {
  padding: 10px 0;
  height: 25vh;
}
.about-page-body .team .team-member {
  width: 20vh;
  margin-right: 1.5rem;
  padding: 1vh 0.25rem;
  box-shadow: 1px 1px 3px 3px #b7b7b7;
}
.about-page-body .team .team-member p {
  margin-bottom: 0;
}
.about-page-body .questions-section {
  padding: 3.75rem 0;
}
.about-page-body .questions-section .accordion-button {
  padding-left: 0;
}

h3 {
  padding: 1.75rem 0 0.5rem;
}

.careers-page {
  padding: 2.75rem auto;
}
.careers-page .careers-page-hero {
  padding: 2.75rem 0 1.25rem;
}
.careers-page .careers-page-hero > p {
  padding-top: 2.35rem;
}

.careers-page-body {
  padding-bottom: 3.75rem;
}
.careers-page-body .from-employees {
  padding: 5.25rem 0;
}
.careers-page-body .inform-form {
  padding: 5.75rem 0;
}
.careers-page-body .inform-form input {
  margin: 0.5rem 0;
}
.careers-page-body .inform-form textarea {
  margin: 0.5rem 0;
}
.careers-page-body .inform-form .btn {
  margin: 0.5rem 0;
}

h3 {
  padding: 1.75rem 0 0.5rem;
}

.affiliates-page {
  padding: 2.75rem auto;
}
.affiliates-page .affiliates-page-hero {
  padding: 2.75rem 0 1.25rem;
}
.affiliates-page .affiliates-page-hero > p {
  padding-top: 2.35rem;
}

.cta {
  padding: 5rem 0;
  margin: 0;
  color: #fff;
  background-color: #000;
  box-sizing: border-box;
}
.cta .btn {
  width: max-content;
  margin: 2.25rem 0;
}

.footer {
  height: max-content;
  padding-top: 3.25rem;
  background-color: black;
  color: beige;
  margin: 0;
}
.footer ul {
  padding-left: 0;
}
.footer ul li {
  list-style: none;
}
.footer .copyright {
  padding: 20px 0px;
}
.footer .copyright a {
  padding-right: 10px;
}
.footer a {
  color: #b7b7b7;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}

.page-header {
  height: 15vh;
  padding: 1.25rem 0;
  border-bottom: 1px solid #dfdfdf;
}
.page-header h4 {
  padding-top: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
