@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  border: none !important;
}

.btn-primary {
  background-color: #2B547E;
}

.navbar {
  background-color: transparent;
}
.navbar img {
  width: 64px;
  height: auto;
}
.navbar a {
  color: #E5E5E5;
}
.navbar a:hover {
  color: #cfcbcb;
}
.navbar button {
  background-color: #2C75C0;
}
.navbar button:hover {
  color: #E5E5E5;
}
.navbar-custom {
  background-color: #2B547E;
}

.navbar-hero {
  background-image: url("../images/hero_bg_image.png");
  height: 150vh;
  margin-bottom: 70vh;
}

.hero {
  padding: 20vh 0 5.25rem 0;
  height: 110vh;
}
.hero h2, .hero p, .hero button {
  margin: 20px 0;
  color: #e5e5e5;
}
.hero button {
  width: max-content;
}
.hero-2 {
  padding: 10vh;
}
.hero-2 img:last-child {
  width: 250px;
  height: auto;
  position: relative;
  top: -80vh;
  left: 100vh;
}

.products {
  background-image: url("../images/home_products_bg.png");
  height: 80vh;
}
.products h2, .products p {
  color: #fff;
}
.products-left-text {
  height: 50vh;
  padding: 10px 35vh 0px 10vh;
  border-right: 1px solid #fff;
}
.products .phone-image {
  width: 45vh;
  height: auto;
  padding: 8vh 0 0 50px;
}

.templates-home-heading {
  padding: 2.75rem 10px 0px 2.75rem;
}
.templates-home-heading h3, .templates-home-heading p, .templates-home-heading a {
  color: #2B547E;
  text-decoration: none;
}
.templates-home-heading a {
  box-sizing: border-box;
}

.templates {
  height: max-content;
  margin-bottom: 12vh;
}
.templates .template {
  padding: 20px 0px;
  margin: 0px;
}
.templates .template img {
  width: 50vh;
}
.templates span {
  display: block;
  text-align: center;
  padding-top: 5px;
  color: #2B547E;
  font-size: 1.25rem;
}

.templates-div {
  padding: 0px;
}
.templates-div input[type=text] {
  width: 40vh;
  padding: 3px 20px;
  border: none;
  box-shadow: 1px 1px 10px 2px #dfdfdf;
  border-radius: 5px;
}
.templates-div .dropdown-menus {
  padding: 15px 0px 0px;
  border-bottom: 1px solid #dfdfdf;
}
.templates-div .dropdown {
  margin-right: 2rem;
  color: #2B547E;
  cursor: pointer;
}
.templates-div .filter {
  padding: 20px 0px;
}
.templates-div .filter h5 {
  color: #2B547E;
}
.templates-div .filter-options {
  padding: 5px 0px;
}
.templates-div .filter-options span {
  font-size: 12px;
  margin-right: 10px;
  padding: 2px 10px;
  border: 1px solid #2C75C0;
  border-radius: 3px;
  cursor: pointer;
}
.templates-div .filter-options .active {
  border: none;
  background-color: #e98293;
  color: #fff;
}

.pagination {
  padding-bottom: 10vh;
}
.pagination ul {
  padding: 10px 10px 20px 0;
  margin: 0 auto;
}
.pagination ul li {
  list-style: none;
  padding: 0 5px;
}
.pagination ul li a {
  text-decoration: none;
  color: #2B547E;
}
.pagination ul li a img {
  width: 24px;
  height: 24px;
}
.pagination ul li a:hover {
  color: #bbb;
}

.templates-help {
  background-image: url("../images/templates_page_cta.png");
}

.call-to-action {
  height: 80vh;
  background-image: linear-gradient(to bottom right, #2B547E, skyblue);
}
.call-to-action h2, .call-to-action p {
  color: #fff;
}
.call-to-action button {
  background-color: #fff;
  color: #2B547E;
}
.call-to-action div:first-child {
  margin: 50px 20px 0 20px;
}
.call-to-action .text-start img {
  width: 400px;
  position: relative;
  bottom: -5vh;
  left: 0;
}

.groove-icons {
  height: 15vh;
  padding: 10px;
  margin-bottom: 12vh;
  background-color: #e4e4e4;
}
.groove-icons img {
  width: 96px;
  height: auto;
  padding: 7px;
}

.testimonies {
  min-height: 70vh;
  margin-bottom: 15vh;
}
.testimonies h3 {
  color: #2B547E;
}
.testimonies .testimony {
  width: 60vh;
  box-sizing: border-box;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  margin: 10vh 0;
}
.testimonies .testimony i {
  display: block;
  font-size: 1.5rem;
  color: #2B547E;
  padding-right: 5px;
}
.testimonies .testimony p {
  font-size: 1rem;
  color: gray;
  padding: 0px 20px 10px;
  margin: 2vh 30px 13vh 30px;
  line-height: 1.5rem;
}
.testimonies .testimony img {
  width: 12vh;
  position: relative;
  top: -30px;
  left: -30px;
}

.pricing-page-body {
  min-height: 90vh;
  margin: 10vh auto 30vh;
}
.pricing-page-body h5 {
  margin-bottom: 3.25rem;
  color: #2B547E;
}
.pricing-page-body .pricing-div {
  width: 50vh;
  height: 80vh;
  box-sizing: border-box;
  padding: 5rem 2.25rem;
  box-shadow: 5px 10px 20px #dfdfdf;
  border-radius: 10px;
  position: relative;
  color: #5c5c5c;
}
.pricing-page-body .pricing-div div {
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-bottom: 5vh;
}
.pricing-page-body .pricing-div div div {
  width: 20px;
  height: 20px;
  background-color: #2B547E;
  position: relative;
  top: 15px;
  left: 15px;
}
.pricing-page-body .pricing-div div .second {
  background-color: #ff5656;
}
.pricing-page-body .pricing-div div .third {
  background-color: #ca00ca;
}
.pricing-page-body .pricing-div li {
  color: gray;
}
.pricing-page-body .pricing-div .btn {
  background: linear-gradient(to right, rgba(43, 84, 126, 0.95), rgba(44, 117, 192, 0.95));
  width: 80%;
  position: absolute;
  bottom: 20px;
  right: 10%;
}

.about-page {
  padding: 0px 0px 3.75rem;
}
.about-page > p {
  padding-top: 2.35rem;
  color: #2B547E;
}

.about-page-body {
  color: #2B547E;
}
.about-page-body .team {
  margin: 10vh 0px;
  padding: 10px 0;
  height: 50vh;
}
.about-page-body .team .team-member {
  width: 30vh;
  height: 35vh;
  margin-right: 1.5rem;
  padding: 1vh 0.25rem;
}
.about-page-body .team .team-member img {
  width: 20vh;
  height: auto;
  margin: 10px auto;
}
.about-page-body .team .team-member p {
  margin-bottom: 0;
}
.about-page-body .team .team-member span {
  color: gray;
}
.about-page-body .questions-section {
  height: 90vh;
  width: 100%;
  padding: 3.75rem 0rem;
}
.about-page-body .questions-section .accordion-item {
  border-bottom: none;
}
.about-page-body .questions-section .accordion-button {
  padding-left: 0;
  margin: 20px 0px;
  border: none;
  color: #2B547E;
}
.about-page-body .statistics {
  height: 40vh;
  color: gray;
}
.about-page-body .statistics h1 {
  font-size: 5rem;
}
.about-page-body .statistics p {
  font-size: 1.2rem;
}
.about-page-body .privacy-policy, .about-page-body .terms {
  padding: 5vh 0px;
}
.about-page-body .privacy-policy h3, .about-page-body .terms h3 {
  padding-bottom: 2rem;
}

h3 {
  padding: 1.75rem 0 0.5rem;
}

.about-page-heading {
  padding: 0;
  margin: 0;
}
.about-page-heading .about-page-hero {
  background-image: url("../images/about_heading_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  border-bottom-right-radius: 20%;
  color: #fff;
  padding: 3.5rem 5.25rem;
}
.about-page-heading .about-page-hero p {
  padding-top: 1.25rem;
}

.careers-page {
  padding: 0px;
  margin-bottom: 0px;
}
.careers-page .careers-page-hero {
  padding: 2.75rem 0 1.25rem;
  background-image: url("../images/careers_heading_bg.png");
  height: 50vh;
  width: 100%;
  border-bottom-right-radius: 20%;
  color: #fff;
  padding: 3.5rem 5.25rem;
}
.careers-page .careers-page-hero > p {
  padding-top: 2.35rem;
}
.careers-page .careers-page-hero button {
  margin-top: 2.5rem;
}

.careers-page-body {
  color: #2B547E;
  padding: 2.5rem 0px 1.75rem;
}
.careers-page-body .from-employees {
  padding: 5.25rem 0;
}
.careers-page-body .from-employees img {
  width: 210px;
  height: relative;
}
.careers-page-body .from-employees p {
  margin: 10px 0 0;
  padding: 10px 0 0;
  color: #363636;
}
.careers-page-body .from-employees span {
  padding-top: 5px;
  color: gray;
}
.careers-page-body .from-employees .quote {
  padding: 2rem 2.5rem 2rem 0;
  font-size: large;
  color: #5f5f5f;
}

.inform-form {
  background-image: url("../images/careers_footer_bg.png");
  height: 60vh;
  padding: 3.75rem 1rem;
  color: #fff;
}
.inform-form input {
  margin: 0.5rem 0;
}
.inform-form textarea {
  margin: 0.5rem 0;
  resize: none;
  padding: 10px;
}
.inform-form .btn {
  margin: 0.5rem 0;
}

h3 {
  padding: 1.75rem 0 0.5rem;
}

.affiliates-page {
  padding: 2.75rem auto;
}
.affiliates-page-hero {
  background-image: url("../images/affiliate_heading_bg.png");
  height: 50vh;
  width: 100%;
  border-bottom-right-radius: 20%;
  color: #fff;
  padding: 3.5rem 5.25rem;
}
.affiliates-page-hero > p {
  padding-top: 2.35rem;
}
.affiliates-page-hero button {
  margin-top: 1.5rem;
}
.affiliates-page-body {
  color: #2B547E;
  padding: 2.5rem 0px 1.75rem;
}
.affiliates-page-body .hiw-item {
  padding: 1.5rem;
}
.affiliates-page-body .hiw-item i {
  font-size: 3rem;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 50%;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
.affiliates-page-body .hiw-item .one {
  color: #2C75C0;
}
.affiliates-page-body .hiw-item .two {
  color: orange;
}
.affiliates-page-body .hiw-item .three {
  color: green;
}
.affiliates-page-body .hiw-item .four {
  color: lightgreen;
}
.affiliates-page-body .hiw-item .five {
  color: coral;
}
.affiliates-page-body .offer {
  min-height: 100vh;
  padding: 5.25rem 0rem;
}
.affiliates-page-body .offer h3 {
  padding-bottom: 2.5rem;
}
.affiliates-page-body .offer .accordion-item {
  border-bottom: none;
}
.affiliates-page-body .offer .accordion-button {
  padding-left: 0;
  margin: 20px 0px;
  border: none;
  color: #2B547E;
}

.affiliates-page-head {
  padding: 0;
  margin: 0;
}

.become-affiliates {
  background-image: url("../images/affiliates_footer_bg.png");
  height: 50vh;
  padding: 3.75rem 5.5rem;
  color: #fff;
}

.domains-page {
  color: #2B547E;
}
.domains-page .search-section {
  margin: 3.5rem auto;
}
.domains-page .search-section h3 {
  padding: 1.5rem 0;
}
.domains-page .search-section div {
  height: 10vh;
}
.domains-page .search-section div input {
  margin: 10px 0;
  padding: 20px 12px;
  width: 60%;
  height: 100%;
  border: none;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
.domains-page .search-section div span {
  background-color: #2B547E;
  height: 100%;
  margin-left: -10px;
  padding: 22px 15px;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
.domains-page .search-section div span i {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
}
.domains-page .offer {
  height: 100vh;
  margin: 3.25rem auto;
}
.domains-page .offer h3 {
  padding: 3.25rem 0px 2rem;
}
.domains-page .offer i {
  font-size: 2rem;
  font-stretch: extra-expanded;
  padding-right: 10px;
}
.domains-page .offer h4 {
  padding: 1.75rem 0px 0.5rem;
}

.find-domain {
  background-image: url("../images/affiliates_footer_bg.png");
  height: 50vh;
  padding: 3.75rem 5.5rem;
  color: #fff;
}

.email-marketing-page {
  padding: 2.75rem auto;
}
.email-marketing-page-hero {
  background-image: url("../images/email_marketing_heading_bg.png");
  height: 50vh;
  width: 100%;
  border-bottom-right-radius: 20%;
  color: #fff;
  padding: 3.5rem 5.25rem;
}
.email-marketing-page-hero > p {
  padding-top: 2.35rem;
}
.email-marketing-page-hero button {
  margin-top: 2rem;
}
.email-marketing-page-body {
  color: #2B547E;
  padding: 2.5rem 0px 1.75rem;
}
.email-marketing-page-body h3, .email-marketing-page-body h4 {
  padding: 5px 0px;
}
.email-marketing-page-body p {
  padding: 5px 0px 3.5rem;
}
.email-marketing-page-body .bullet-points {
  margin: 3rem;
}
.email-marketing-page-body .bullet-points img {
  padding-right: 1.5rem;
}

.email-marketing-head {
  padding: 0;
  margin: 0;
}

.email-marketing-foot {
  background-image: url("../images/affiliates_footer_bg.png");
  height: 50vh;
  padding: 3.75rem 5.5rem;
  color: #fff;
}

.online-store-page {
  padding: 2.75rem auto;
}
.online-store-page-hero {
  background-image: url("../images/online_store_heading_bg.png");
  height: 50vh;
  width: 100%;
  border-bottom-right-radius: 20%;
  color: #fff;
  padding: 3.5rem 5.25rem;
}
.online-store-page-hero > p {
  padding-top: 2.35rem;
}
.online-store-page-hero button {
  margin-top: 2rem;
}
.online-store-page-body {
  color: #2B547E;
  padding: 4.5rem 0px 1.75rem;
}
.online-store-page-body h4 {
  padding: 5px 0px;
}

.online-store-head {
  padding: 0;
  margin: 0;
}

.online-store-foot {
  background-image: url("../images/affiliates_footer_bg.png");
  height: 50vh;
  padding: 3.75rem 5.5rem;
  color: #fff;
}

.hire-expert-page {
  padding: 2.75rem auto;
}
.hire-expert-page-hero {
  background-image: url("../images/hire_expert_heading_bg.png");
  height: 50vh;
  width: 100%;
  border-bottom-right-radius: 20%;
  color: #fff;
  padding: 3.5rem 5.25rem;
}
.hire-expert-page-hero > p {
  padding-top: 2.35rem;
}
.hire-expert-page-hero button {
  margin-top: 2rem;
}
.hire-expert-page-body {
  color: #2B547E;
  padding: 4.5rem 0px 1.75rem;
}
.hire-expert-page-body h4 {
  padding: 5px 0px;
}
.hire-expert-page-body .statistics {
  height: 30vh;
  color: gray;
}
.hire-expert-page-body .statistics h1 {
  font-size: 5rem;
}
.hire-expert-page-body .statistics p {
  font-size: 1.2rem;
}
.hire-expert-page-body .explore-services {
  margin: 10px 0px;
}
.hire-expert-page-body .from-people {
  padding: 3.25rem 0;
}
.hire-expert-page-body .from-people h3 {
  margin-bottom: 1.5rem;
}
.hire-expert-page-body .from-people img {
  width: 210px;
  height: relative;
}
.hire-expert-page-body .from-people p {
  margin: 10px 0 0;
  padding: 10px 0 0;
  color: #363636;
}
.hire-expert-page-body .from-people span {
  padding-top: 5px;
  color: gray;
}
.hire-expert-page-body .from-people .quote {
  padding: 2rem 2.5rem 2rem 0;
  font-size: large;
  color: #5f5f5f;
}
.hire-expert-page-body .hiw {
  padding: 10px 0px;
}
.hire-expert-page-body .hiw ol {
  font-size: 1.5rem;
}
.hire-expert-page-body .hiw ol li {
  padding-bottom: 1.5rem;
}
.hire-expert-page-body .hiw ol li h4 {
  padding: 1rem 0px;
}
.hire-expert-page-body .hiw ol li p {
  font-size: 1rem;
}

.hire-expert-head {
  padding: 0;
  margin: 0;
}

.hire-expert-foot {
  background-image: url("../images/affiliates_footer_bg.png");
  height: 50vh;
  padding: 3.75rem 5.5rem;
  color: #fff;
}

.news-stand-page {
  padding: 2.75rem auto;
}
.news-stand-page-hero {
  background-image: url("../images/about_heading_bg.png");
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  border-bottom-right-radius: 0%;
  color: #fff;
  padding: 3.5rem 5.25rem;
}
.news-stand-page-hero p {
  padding-top: 1.35rem;
}
.news-stand-page-body {
  color: #2B547E;
  padding: 1.5rem 0px 1.75rem;
}
.news-stand-page-body .trending-today {
  padding: 1.5rem 0px;
}
.news-stand-page-body .trending-today h3 {
  padding-bottom: 30px;
}
.news-stand-page-body .trending-today .trending-item {
  margin: 1.5rem 0px;
  padding: 1.5rem 0px;
}
.news-stand-page-body .trending-today .trending-item img {
  width: 400px;
  border-bottom-right-radius: 40%;
}
.news-stand-page-body .trending-today .trending-item-body {
  padding-left: 3.5rem;
  padding-bottom: 1rem;
}
.news-stand-page-body .trending-today .trending-item-body h4 {
  padding-bottom: 1rem;
}
.news-stand-page-body .trending-today .trending-item-body a {
  text-decoration: none;
  color: #2B547E;
}
.news-stand-page-body .trending-today .trending-item-body a img {
  width: 32px;
  height: auto;
}
.news-stand-page-body .more-articles {
  padding: 2.5rem;
}
.news-stand-page-body .more-articles a {
  text-decoration: none;
  color: #2B547E;
}
.news-stand-page-body .more-articles a img {
  width: 28px;
  height: auto;
}

.news-stand-head {
  padding: 0;
  margin: 0;
}

.news-stand-foot {
  background-image: url("../images/careers_footer_bg.png");
  height: 60vh;
  padding: 3.75rem 1rem;
  color: #fff;
}
.news-stand-foot h4 {
  margin-top: 2rem;
}
.news-stand-foot input {
  margin: 0.5rem 0;
}
.news-stand-foot textarea {
  margin: 0.5rem 0;
  resize: none;
  padding: 10px;
}
.news-stand-foot .btn {
  margin: 0.5rem 0;
}

.help-center-page {
  padding: 2.75rem auto;
  color: #2B547E;
}
.help-center-page-heading {
  margin: 2rem 0px;
}
.help-center-page-heading form {
  padding-top: 2rem;
}
.help-center-page-heading form input {
  margin: 10px 0;
  padding: 20px 12px;
  width: 60%;
  height: 100%;
  border: none;
  float: left;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
.help-center-page-heading form span {
  background-color: #2B547E;
  height: 100%;
  margin-left: -10px;
  padding: 22px 15px;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
.help-center-page-heading form span i {
  padding-top: 1.8rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
}
.help-center-page-body {
  padding: 1.5rem 0px 1.75rem;
}
.help-center-page-body .articles {
  padding: 1.5rem 0px;
}
.help-center-page-body .articles h3 {
  padding-bottom: 30px;
}
.help-center-page-body .articles .article {
  margin: 1.5rem 0px;
  padding: 1.5rem 0px;
}
.help-center-page-body .articles .article img {
  width: 400px;
  border-bottom-right-radius: 40%;
}
.help-center-page-body .articles .article-body {
  padding-left: 3.5rem;
  padding-bottom: 1rem;
}
.help-center-page-body .articles .article-body h4 {
  padding-bottom: 1rem;
}
.help-center-page-body .articles .article-body a {
  text-decoration: none;
  color: #2B547E;
}
.help-center-page-body .articles .article-body a img {
  width: 32px;
  height: auto;
}
.help-center-page-body .more-articles {
  padding: 2.5rem;
}
.help-center-page-body .more-articles a {
  text-decoration: none;
  color: #2B547E;
}
.help-center-page-body .more-articles a img {
  width: 28px;
  height: auto;
}
.help-center-page-body .answers {
  margin: 2rem 0px;
}
.help-center-page-body .answers h4 {
  padding-bottom: 2rem;
}
.help-center-page-body .answers .accordion {
  width: 90%;
  padding-right: 20px;
}
.help-center-page-body .answers .accordion-item {
  padding: 10px;
  border: none;
  padding-left: 0px;
}
.help-center-page-body .answers .accordion-item button {
  padding-left: 0px;
  color: #2B547E;
}

.create-account-page {
  padding: 0;
  margin: 0;
}
.create-account-page-left {
  background-image: url("../images/create_account_bg.png");
  height: 100vh;
  padding: 12vh 10vh;
  color: #fff;
  border-bottom-right-radius: 50%;
  border-right: 1rem solid #d9e5ec;
}
.create-account-page-left h3 {
  padding: 7vh 0px 3vh 0px;
}
.create-account-page-left div:last-child {
  padding-top: 20vh;
}
.create-account-page-left div:last-child p {
  padding-right: 10px;
}
.create-account-page-left i {
  background-color: #474747;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
.create-account-page-right {
  padding: 5vh 25vh;
}
.create-account-page-right h3, .create-account-page-right label {
  color: gray;
  display: block;
}
.create-account-page-right h3 {
  padding: 10px 0px;
}
.create-account-page-right label {
  padding: 1.2rem 0px 5px;
}
.create-account-page-right button {
  margin: 2rem 0px;
  width: 70vh;
}
.create-account-page-right input {
  width: 70vh;
  padding: 10px 20px;
  border: none;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
.create-account-page-right i {
  font-size: 1.5rem;
  padding: 10px;
  color: gray;
}
.create-account-page img:first-child {
  width: 72px;
  height: auto;
}

.login-page {
  padding: 0;
  margin: 0;
}
.login-page-left {
  background-image: url("../images/login_bg.png");
  height: 100vh;
  padding: 12vh 10vh;
  color: #fff;
  border-bottom-right-radius: 50%;
  border-right: 1rem solid #d9e5ec;
}
.login-page-left h3 {
  padding: 7vh 0px 3vh 0px;
}
.login-page-left div:last-child {
  padding-top: 20vh;
}
.login-page-left div:last-child p {
  padding-right: 20px;
}
.login-page-left i {
  background-color: #474747;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
.login-page-right {
  padding: 5vh 25vh;
}
.login-page-right h3, .login-page-right label {
  color: gray;
  display: block;
}
.login-page-right h3 {
  padding: 1.2rem 0px;
}
.login-page-right label {
  padding: 1rem 0px;
}
.login-page-right button {
  margin: 3rem 0px;
  width: 70vh;
}
.login-page-right input {
  width: 70vh;
  padding: 10px 20px;
  border: none;
  box-shadow: 1px 2px 1px white, 3px 6px 20px rgba(0, 0, 0, 0.2);
}
.login-page-right i {
  font-size: 1.5rem;
  padding: 10px;
  color: gray;
}
.login-page img:first-child {
  width: 72px;
  height: auto;
}

.cta {
  padding: 8rem 0px 3rem 5rem;
  margin: 0;
  color: #fff;
  background-color: #000;
}
.cta .btn {
  width: max-content;
  margin: 2.25rem 0;
}
.cta img {
  width: 90vh;
  height: auto;
}

.footer {
  height: max-content;
  padding-top: 3.25rem;
  background-color: black;
  color: beige;
  margin: 0;
}
.footer ul {
  padding-left: 0;
}
.footer ul li {
  list-style: none;
}
.footer .copyright {
  padding: 20px 18vh;
}
.footer .copyright a {
  padding-right: 10px;
}
.footer a {
  color: #b7b7b7;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}
.footer .social-links a {
  padding: 5px 10px;
}
.footer .social-links a i {
  color: #fff;
  font-size: 1.5rem;
}

.page-header {
  height: 15vh;
  padding: 1.25rem 0;
  border-bottom: 1px solid #dfdfdf;
}
.page-header h4 {
  padding-top: 0.5rem;
  color: #2B547E;
}

.page-bottom-help {
  height: 60vh;
  padding: 20vh 10vh;
  color: #fff;
  border-top-right-radius: 10%;
}
.page-bottom-help .btn {
  margin-top: 3.75rem;
  background-color: #2B547E;
}

/*# sourceMappingURL=style.css.map */
